<div class="col-10 offset-1 about">
  <h1>About This Page</h1>
    <p>
    This page was built by <a target="_blank" href="https://github.com/CSelvidge">Cory</a>. A soon to be web developer who is struggling with errant typos.
  </p>
  <br />
  <p>
    He spends most of his time working a dead end job and waiting for World of Warcraft: Classic to be released.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

</div>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'me.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Cory Selvidge</h2>
    <br />
    <p>
      <- Ya Boi
    </p>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />